.button.primary {
  padding: 0.5rem;
  border-radius: 0.25rem;
  color: #ffff;
  font-weight: 500;
  background-color: var(--color-primary);
}

.button.primary:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}