.signin-page {
  display: flex;
  align-items: center;
  justify-content: center;
}

.signin-container {
  padding: 2rem;
  border-radius: 1rem;
  background-color: var(--background-secondary);
  box-shadow: 0 0 #0000, 0 0 #0000, 0 2px 6px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.1);
}

